<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="Product-List"  >Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                </li>
            </ul>
            
        </div>
    </div>
</nav>
<!-- <header>
    <div class="header-container">
        <div class="logo">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                <path d="M2 4v16c4-2 8-2 12 0V4C10 2 6 2 2 4Zm20 0v16c-4-2-8-2-12 0V4c4-2 8-2 12 0Z"/>
            </svg>   
            
            <a class="nav-link" routerLink="">
                <h1>Rincon<span  id="logo-title">Sabio</span></h1> 
            </a>
        
        </div>
        <div>
            <ul class="menu">
                <li><a href="">Evento</a></li>

                

                <li><a class="nav-link" routerLink="cuenta">Mi cuenta</a></li>

                <li><a class="nav-link" routerLink="favoritos">Mis favoritos</a></li>


            </ul>
        </div>
    </div>
    

</header> -->

